<%= request.remote_ip %>
<%= debug @response %>
<%= debug @payload %>
<form class="form-horizontal">
  <legend>国内药品销售数据</legend>
  <div class="form-group">
    <label for="drug_name" class="col-sm-2 control-label">药品名称</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="drug_name" name="drug_name">
    </div>
  </div>

  <div class="form-group">
    <label for="company" class="col-sm-2 control-label">企业名称</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="company" name="company">
    </div>
  </div>
  <div class="form-group">
    <label for="year" class="col-sm-2 control-label">年份</label>

    <div class="col-sm-10">
      <select class="form-control" name="year" id="year">
        <option value="">全部</option>
        <% (2006..2014).to_a.reverse.each do |year| %>
            <option value="<%= year %>"><%= year %> </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">城市</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="city" name="city">
    </div>
  </div>
  <div class="form-group">
    <label for="big_class" class="col-sm-2 control-label">治疗领域</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="big_class" name="big_class">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="reset" class="btn btn-default" value="重置"/>
      <button type="submit" class="btn btn-primary">查询</button>
    </div>
  </div>
</form>

<%= link_to '微信支付', "javascript:void(0)", :id => 'wechat' %>
<script Language="javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        $('#wechat').click(function () {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": "wx2421b1c4370ec43b",     //公众号名称，由商户传入
                "timeStamp": " 1395712654",         //时间戳，自1970年以来的秒数
                "nonceStr": "e61463f8efa94090b1f366cccfbbb444", //随机串
                "package": "prepay_id=u802345jgfjsdfgsdg888",
                "signType": "MD5",         //微信签名方式:
                "paySign": "70EA570631E4BB79628FBCA90534C63FF7FADD89" //微信签名
            }, function (response) {
                if (response.err_msg == "get_brand_wcpay_request:ok") {
                    alert('支付成功!');
                } else {
                    alert(response.err_msg);
                }
            });
        });
    }, false);
</script>
