<p class="lead">共有 <%= @query.rows %> 条数据，您需要支付 <%= @query.total_fee/100 %> 元。</p>

<% if @query.total_fee > 0 %>
    <%= link_to '微信支付', "javascript:void(0)", :id => 'wechat', class: 'btn btn-primary btn-block' %>

    <script>
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            $('#wechat').click(function () {
                WeixinJSBridge.invoke('getBrandWCPayRequest', <%= raw @options.to_json %>, function (response) {
                    if (response.err_msg == "get_brand_wcpay_request:ok") {
                    alert('支付成功，请在下方输入您的Email');
                    $('.edit_query').show();
                    } else {
                        // alert(response.err_msg);
                    }
                });
            });
        }, false);
    </script>
<% end %>

<hr/>

<%= simple_form_for(@query, url: update_email_query_path(@query), html: {style: 'display: none'}) do |f| %>
  <%= f.input :email %>
  <%= f.button :submit, '将数据发到我的Email' %>
<% end %>
